<tr>
    <td class="text-center"><%= fullsubmission.user_id %></td>
    <td class="text-center"><%= fullsubmission.user.name %></td>
    <td class="text-center"><%= fullsubmission.fullquestion.qcontent %></td>
    <td class="text-center"><%= Fullquestion.convert_ans(fullsubmission.choice) %></td>
    <td class="text-center"><%= fullsubmission.reason %></td>

</tr>