<div class = "row">
  <h1>All Users</h1>
</div>


<div class = "row">

  <div class = "col-sm-10"></div>

  <div class = "col-sm-2">
    <div class = row>
      <%= form_tag admin_all_path(), :method => :post, :id => "query_user_form" do%>
      <%= search_field_tag 'query', nil, :class => 'special_input', :placeholder => 'Search Email...', :id => 'query_user' %>
      <% end %>
    </div>
  </div>
</div>

<div class = "row">
  <div class = "col-sm-12">
      <div class="table-responsive">
        <table class = "table">
          <thead>
            <tr>
              <th class = "col-md-1"><%= link_to "ID", admin_all_path(:order => "id") %></th>
              <th class = "col-md-4">Email</th>
              <th class = "col-md-3">Name</th>
              <th class = "col-md-1"><%= link_to "Submission#", admin_all_path(:order => "sub") %></th>
              <th class = "col-md-1"><%= link_to "Correct#", admin_all_path(:order => "correct") %></th>
              <th class = "col-md-1"><%= link_to "Accuracy#", admin_all_path(:order => "accuracy") %></th>
            </tr>
          </thead>
          <tbody>
            <% @data.each do |d| %> 
              <tr>  
                <td><%= d['user_id'] %></td>
                <td><%= d['user_email'] %></td>
                <td><%= d['user_name'] %></td>
                <td><%= d['submission'] %></td>
                <td><%= d['correct'] %></td>
                <td><%= d['accuracy'] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>


<div class = "row">
  <% if !@users.nil? %>
    <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
  <% end  %>
</div>

<p><hr><br></p>
<div class = "row">
  <div class = "col-sm-2">
    <%= link_to admins_show_path,
    :class => "btn btn-warning btn-block" do %>
    <i class="glyphicon glyphicon-chevron-left"></i> Back to Admin
    <% end %>     
  </div>     

  <div class = "col-sm-8">
  </div>
  <div class = "col-sm-2">
    <div class = "row">
      <%= link_to "Show All", "/admin/allusers", :class => "btn btn-primary center-block" %>
    </div>
  </div>
</div>


