<div class = "row">
  <h3>Add User to Group: <small><%=@group.name%></small></h3>
</div>


<div class = "row">

  <div class = "col-sm-10"></div>

  <div class = "col-sm-2">
    <div class = row>
      <%= form_tag group_add_path(:id => @group.id), :method => :post, :id => "query_user_form" do%>
      <%= search_field_tag 'query', nil, :class => 'special_input', :placeholder => 'Search Email...', :id => 'query_user' %>
      <% end %>
    </div>
  </div>
</div>

<div class = "row">
  <div class = "col-sm-12">
      <div class="table-responsive">
        <table class = "table">
          <thead>
            <tr>
              <th class = "col-md-1"><%= link_to "ID", group_add_path(:order => "id") %></th>
              <th class = "col-md-4">Email</th>
              <th class = "col-md-3">Name</th>
              <th class = "col-md-2"><%= link_to "Accuracy#", group_add_path(:order => "accuracy") %></th>
              <th class = "col-md-3">In Group?</th>
              <th class = "col-md-3">Operate</th>
            </tr>
          </thead>
          <tbody>
            <% if !@users.nil? %>
              <% @users.each do |user| %>
                <tr>
                  <th><%= user.id -%></th>
                  <th><%= user.email -%></th>
                  <th><%= user.name -%></th>
                  <th><%= user.accuracy -%></th>
                  <th><%= (@group_users.include?(user))? "Yes":"No" %></th>
                  <% if user.id == @group.admin_uid %>
                    <th>  </th>
                  <% else %>
                    <th><%= link_to (@group_users.include?(user))? "Delete":"Add", group_add_path(:operate => user.id,:id => @group.id) %></th>
                  <% end %>
                <tr>
              <% end %>  
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>


<div class = "row">
  <div class = "col-sm-8">
  </div>
  <div class = "col-sm-2">
      <%= link_to "Show All", group_add_path(:id => @group.id), :class => "btn btn-primary center-block" %>
  </div>
  <div class = "col-sm-2">
      <%= link_to "Back", groups_path, :class => "btn btn-primary center-block" %>
  </div>
</div>

<div class = "row">
  <% if !@users.nil? %>
    <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
  <% end  %>
</div>
