<tr>
  <td><%= disease.id %></td>
  <td><%= disease.closed ? "Closed" : "Active" %></td>
  <td><%= disease.disease %></td>
  <td><%= link_to disease.accession, "http://www.ebi.ac.uk/arrayexpress/experiments/#{disease.accession}/?query=#{disease.disease}", :target => '_blank' %></td>
  <td><%= disease.related + disease.unrelated %></td>
  <td><%= disease.related %></td>
  <td><%= disease.unrelated %></td>
  <td><%= link_to "Histogram", admin_histogram_path(:sort => "#{disease.id}")%></td>
</tr>
